html, body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 120px;
    font-size: 1.4rem;
}

.product-main-container {
    width: 85%;
    margin-inline: auto;

    display: flex;
    gap: 80px;
}

.product-image-container{
    width: 50%;
    padding: 50px 0;

    display: flex;
}

.image-display-container {
    min-width: 400px;
    min-height: 40vh;
    max-height: 90vh;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 80%;
    max-height: 90%;
}

.product-images-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-image-container {
    background-color: white;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-right: 10px;
    border: 5px solid rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.sidebar-image {
    max-width: 100px;
    max-height: 100px;
}

.active-image {
    border: 5px solid rgb(140, 78, 255);
}

.details-container {
    width: 45%;
}

hr {
    margin: 40px 0;
}

.info-container {
    display: grid;
    grid-template-columns: 15ch 1fr;
    gap: 20px 60px;
    margin-left: 20px;
}

.quantity-input {
    height: 20px;
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 1rem;
    padding: 10px 15px;
    width: 7ch;
    margin-top: 50px;
    margin-left: 20px;
}

.add-to-cart-button {
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 1.4rem;
    padding: 15px 10px;
    width: 100%;
    margin-top: 20px;
    transition: all 0.2s;
}

.add-to-cart-button:hover {
    background-color: rgb(140, 78, 255);
    border: 1px solid rgb(140, 78, 255);
}