body {
    font-family: Proza Libre, Arial;
    font-size: 1.3rem;
}

.general-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}


.city-input {
    font-size: 1.3rem;
    padding: 1vh 2vw;
    border-radius: 7px;
    width: 40vw;
}

.search-button {
    font-size: 1.3rem;
    padding: 1vw 2vw;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(1, 107, 169);
    color: white;
    border: none;
}

.search-button:hover {
    background-color: rgb(0, 123, 194);
}

.weather-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: white;
    background-color: rgb(65, 64, 64);
    width: 40%;
}